body {
    height: 100%;
    background: linear-gradient(lightblue, white);
}

.center {
    text-align: center;
}

.btn.btn-circle {
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to top, grey, white);
}

.btn-circle.btn-xl {
    width:300px;
    height:300px;
    font-size:100px;
}
.btn-circle.btn-l {
    width:150px;
    height:150px;
    font-size:75px;
}
.btn-circle.btn-sm {
    width:30px;
    height:30px;
    font-size:10px;
}
#title{
    font-size:30px;
}
.vertical-center{
    min-height:100%;
    min-height:100vh;

    display: flex;
    align-items: center;
}

#login-box{
    height: 400px;
    background: linear-gradient(to top, lightgrey, white);
    border-radius:10px;
    box-shadow: 10px 10px 5px #888888;
}

#login{
    display:none;
}
#relay-schedule{
    display:none;
}
#thermometer{
    display:none;
}
#garage{
    display:none;
}